<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>


<!-- <ion-content padding>
  {{"66666666"}}
  </ion-content> -->
<ion-content  padding id ="home">
  <ion-slides #slides *ngIf="BannerArr.length>0" class="banner" pager  loop="true" autoplay="9999">    
    <ion-slide *ngFor="let item of BannerArr">
        <img [src]="item.images.medium" />
    </ion-slide>         
 </ion-slides>



<div class="list">
<ul  *ngFor="let item of BannerArr" class="movieslist">
   
    <li (click)= "navTologin(item.id)">
        <img src="{{item.images.medium}}"/>

       <div class="bigrignht">
         <div class="ti"> {{item.title}} </div>
         <div class="ti1"> {{ "简介:"+item.title}} </div>
         <div class="ti2"> {{ item.strName}} </div>
       </div>
    </li>

</ul>

</div>





</ion-content>
